body {
    margin: 0;
}

div{
    text-align: center;
    border-top: 1px solid ;
    background-color: #f5f5f5;
    padding: 50px;
}

h1 {
    font-family: 'Tahoma', sans-serif;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-family: 'Tahoma', sans-serif;
    font-size: 24px;
    text-align: center;

}

h3 {
    font-size: 20px;
    font-family: 'Tahoma', sans-serif;
    margin-left: auto;
}

p {
    text-align: center;
    line-height: 28px;
    width: 930px;
    margin-right: auto;
    margin-left: auto;
}

span {
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}

img {
    width: 190px;
    border-radius: 5px;
}

a {
    background-color: rgb(26, 207, 26);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    border-radius: 20px;
    text-align: justify;
}